In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect
from sqlalchemy.engine.reflection import Inspector
from sqlalchemy import create_engine, MetaData, Table

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [7]:
# reflect an existing database into a new model
inspector = inspect(engine)
inspector.get_table_names()
# reflect the tables

['measurement', 'station']

In [8]:
columns_station = inspector.get_columns('station')
for column in columns_station:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [9]:
columns_measurement = inspector.get_columns('measurement')
for column in columns_measurement:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [27]:
engine.execute('SELECT * FROM measurement LIMIT 10').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0),
 (6, 'USC00519397', '2010-01-07', 0.06, 70.0),
 (7, 'USC00519397', '2010-01-08', 0.0, 64.0),
 (8, 'USC00519397', '2010-01-09', 0.0, 68.0),
 (9, 'USC00519397', '2010-01-10', 0.0, 73.0),
 (10, 'USC00519397', '2010-01-11', 0.01, 64.0)]

In [28]:
Station.__table__.columns.keys()

['id', 'station', 'name', 'latitude', 'longitude', 'elevation']

In [16]:
engine.execute('SELECT * FROM station LIMIT 10').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [29]:
Measurement.__table__.columns.keys()

['id', 'station', 'date', 'prcp', 'tobs']

In [30]:
# We can view all of the classes that automap found
Base_measurement = automap_base()
Base.prepare(engine, reflect=True)
Measurement = Base.classes.measurement

Base_station = automap_base()
Base.prepare(engine, reflect=True)
Station = Base.classes.station

In [55]:
max = session.query(func.max(Measurement.date)).scalar()
min = session.query(func.min(Measurement.date)).scalar()
min,max

('2010-01-01', '2017-08-23')

In [60]:
session.query(Measurement.date).order_by(Measurement.date).first()

('2010-01-01')

In [59]:
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [32]:
# Create our session (link) from Python to the DB
sel = [
       Measurement.id, 
       Measurement.station, 
       Measurement.date, 
       Measurement.prcp,
       Measurement.tobs]
may_averages = session.query(*sel).\
    filter(func.strftime("%m", Measurement.date) == "05").\
    group_by(Dow.stock).\
    order_by(Dow.stock).all()
may_averages

In [61]:
sel = [
       Measurement.id, 
       Measurement.station, 
       Measurement.date, 
       Measurement.prcp,
       Measurement.tobs]
filtered_dates = session.query(*sel).\
    filter(Measurement.date.between('2016-05-23', '2016-06-01')).\
    group_by(Measurement.id).\
    order_by(Measurement.id).all()
filtered_dates

[(2272, 'USC00519397', '2016-05-23', 0.0, 79.0),
 (2273, 'USC00519397', '2016-05-24', 0.0, 77.0),
 (2274, 'USC00519397', '2016-05-25', 0.0, 77.0),
 (2275, 'USC00519397', '2016-05-26', 0.06, 76.0),
 (2276, 'USC00519397', '2016-05-27', 0.0, 79.0),
 (2277, 'USC00519397', '2016-05-28', 0.1, 75.0),
 (2278, 'USC00519397', '2016-05-29', 0.54, 73.0),
 (2279, 'USC00519397', '2016-05-30', 0.16, 71.0),
 (2280, 'USC00519397', '2016-05-31', 0.05, 74.0),
 (2281, 'USC00519397', '2016-06-01', 0.06, 76.0),
 (4999, 'USC00513117', '2016-05-23', 0.0, 75.0),
 (5000, 'USC00513117', '2016-05-24', 0.0, 75.0),
 (5001, 'USC00513117', '2016-05-25', 0.0, 74.0),
 (5002, 'USC00513117', '2016-05-26', 0.8, 72.0),
 (5003, 'USC00513117', '2016-05-27', 0.05, 76.0),
 (5004, 'USC00513117', '2016-05-28', 0.0, 76.0),
 (5005, 'USC00513117', '2016-05-29', 0.0, 71.0),
 (5006, 'USC00513117', '2016-05-30', 0.03, 72.0),
 (5007, 'USC00513117', '2016-05-31', 0.18, 72.0),
 (5008, 'USC00513117', '2016-06-01', 0.89, 70.0),
 (7255, 'USC00514830', '2016-05-23', 0.11, 79.0),
 (7256, 'USC00514830', '2016-05-24', 0.0, 78.0),
 (7257, 'USC00514830', '2016-05-25', 0.05, 76.0),
 (7258, 'USC00514830', '2016-05-26', 0.35, 78.0),
 (7259, 'USC00514830', '2016-05-27', 0.09, 79.0),
 (7260, 'USC00514830', '2016-05-28', 0.04, 79.0),
 (7261, 'USC00514830', '2016-05-29', 0.0, 78.0),
 (7262, 'USC00514830', '2016-05-30', 0.0, 74.0),
 (7263, 'USC00514830', '2016-05-31', 0.42, 72.0),
 (7264, 'USC00514830', '2016-06-01', 0.22, 71.0),
 (8769, 'USC00517948', '2016-05-23', None, 79.0),
 (8770, 'USC00517948', '2016-05-24', None, 67.0),
 (8771, 'USC00517948', '2016-05-25', None, 78.0),
 (8772, 'USC00517948', '2016-05-26', None, 79.0),
 (8773, 'USC00517948', '2016-06-01', None, 64.0),
 (11763, 'USC00519523', '2016-05-23', 0.0, 79.0),
 (11764, 'USC00519523', '2016-05-24', 0.0, 77.0),
 (11765, 'USC00519523', '2016-05-25', 0.0, 77.0),
 (11766, 'USC00519523', '2016-05-26', 0.01, 81.0),
 (11767, 'USC00519523', '2016-05-27', 0.0, 80.0),
 (11768, 'USC00519523', '2016-05-28', 0.36, 79.0),
 (11769, 'USC00519523', '2016-05-29', 0.0, 78.0),
 (11770, 'USC00519523', '2016-05-30', 0.05, 78.0),
 (11771, 'USC00519523', '2016-05-31', 1.18, 71.0),
 (11772, 'USC00519523', '2016-06-01', 0.38, 75.0),
 (14516, 'USC00519281', '2016-05-23', 0.0, 74.0),
 (14517, 'USC00519281', '2016-05-24', 0.0, 69.0),
 (14518, 'USC00519281', '2016-05-25', 0.03, 71.0),
 (14519, 'USC00519281', '2016-05-26', 1.04, 74.0),
 (14520, 'USC00519281', '2016-05-27', 0.1, 75.0),
 (14521, 'USC00519281', '2016-05-28', 0.05, 72.0),
 (14522, 'USC00519281', '2016-05-29', 0.0, 74.0),
 (14523, 'USC00519281', '2016-05-30', 0.0, 70.0),
 (14524, 'USC00519281', '2016-05-31', 0.85, 70.0),
 (14525, 'USC00519281', '2016-06-01', 1.39, 69.0),
 (19120, 'USC00516128', '2016-05-23', None, 73.0),
 (19121, 'USC00516128', '2016-05-24', 0.1, 70.0),
 (19122, 'USC00516128', '2016-05-25', 0.5, 69.0),
 (19123, 'USC00516128', '2016-05-26', 1.68, 71.0),
 (19124, 'USC00516128', '2016-05-30', None, 72.0),
 (19125, 'USC00516128', '2016-05-31', 0.8, 69.0),
 (19126, 'USC00516128', '2016-06-01', 1.4, 70.0)]

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`